#include "Shared.xcconfig"
#include "Signing.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS =
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
GCC_OPTIMIZATION_LEVEL = s
ONLY_ACTIVE_ARCH = NO
ENABLE_TESTABILITY = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
MTL_ENABLE_DEBUG_INFO = NO
MTL_FAST_MATH = YES
VALIDATE_PRODUCT = YES
